#links a {
    /* display: block; */
    text-decoration: none;
}
.more #links a {
    margin-right: 20px;
    display: inline-block;
}
.special {
    // text-align: center;
    #links {
        text-align: left;
        // a {
        //     display: block;
        // }
    } 
    // a {
    //     display: block;
    // }
}
